@*  renders the side menu bar *@
@*The href attribute of each anchor element points to a specific recipe search URL. The recipe query parameter is set to the name of the recipe*@

<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=donuts">Donuts</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=croissant">Croissant</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pudding">Pudding</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pie">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cake">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=chocolate">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=ice cream">Ice Cream</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=apple">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=banana">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=blackberry">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=blueberry">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cherry">Cherry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=peach">Peach</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pear">Pear</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=raspberry">Raspberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=strawberry">Strawberry</a>
    </li>

</ul>
